name: Deploy Frontend to Azure Storage Static Website

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Upload site to Azure Blob $web
        uses: azure/cli@v1
        with:
          inlineScript: |
            az storage blob upload-batch \
              --connection-string "${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}" \
              --destination '$web' \
              --source . \
              --overwrite
